<!DOCTYPE html>
<html lang="en" class="theme_switchable">
   <head>
      <meta charset="UTF-8">
      <title>hahaha</title>
      <link rel='stylesheet'
         href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'>
      <link rel='stylesheet'
         href='https://static.fontawesome.com/css/fontawesome-app.css'>
      <link rel='stylesheet'
         href='https://pro.fontawesome.com/releases/v5.2.0/css/all.css'>
      <link rel='stylesheet'
         href='https://fonts.googleapis.com/css?family=Roboto:400,700'><link
         rel="stylesheet" href="./style.css">

   </head>
   <body class="card">
      <!-- partial:index.partial.html -->
      <div class="options">
         <div class="option active"
            style="--optionBackground:url(../prj-an.png);">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">Leader</div>
                  <div class="sub">Bùi Bình An<span class="transparent">123456789</span></div>
               </div>
            </div>
         </div>
         <div class="option"
            style="--optionBackground:url(../prj-bang.png);">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">DW</div>
                  <div class="sub">Võ Thanh Bằng<span class="transparent">1234567</span></div>
               </div>
            </div>
         </div>
         <div class="option"
            style="--optionBackground:url(../prj-giang.png);">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">Member</div>
                  <div class="sub">Lưu Huỳnh Giang<span class="transparent">12345</span></div>
               </div>
            </div>
         </div>
         <div class="option"
            style="--optionBackground:url(../prj-dat.png);">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">Member</div>
                  <div class="sub">Nguyễn Đức Đạt<span class="transparent">123456</span></div>
               </div>
            </div>
         </div>
         <div class="option"
            style="--optionBackground:url(../prj-vu.png);">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">Member</div>
                  <div class="sub">Nguyễn Vũ<span class="transparent">12345678901</span></div>
               </div>
            </div>
         </div>
         <div class="option"
            style="--optionBackground:url();">
            <div class="shadow"></div>
            <div class="label">
               <div class="icon">
                  <i class="fas fa-user"></i>
               </div>
               <div class="info">
                  <div class="main">Member</div>
                  <div class="sub">Nguyễn Minh Đức</div>
               </div>
            </div>
         </div>
      </div>

      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
      <script src=".../js/member-info.js"></script>

   </body>
</html>
